* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section {
    height: 100vh;
}
#logo{
    border-radius: 50%;
}

div#thread {
    height:100px;
}

.logo-base {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#contact {
    height: 150vh;
}

#logo1 {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
footer {
    background-color: black;
    color: #fff;
}

@media only screen and (min-device-width: 768px){
    iframe {
        width: 750px;
        height: 700px;
    }
    figure {
        padding-left: 100px;
        margin-left: 100px;
    }
    #logo1 {
        margin-top: 60px;
    }
}
/* Desktop */
@media only screen and (min-device-width: 1024px){
    iframe {
        width: 650px;
        height: 600px;
    }
    section#contact {
        margin-left: 60px;
    }
    #logo1 {
        height: 400px;
        width: 400px;
    }
    .card-title {
        margin-top: 80px;
        padding-right: 40px;
    }
}

.carousel-item img{
    width: 100%;
    height: 500px;
}

#hr-css{
    margin: 2em 0 1em;
    font-size: 12.2px;
    text-align:center;
    position:relative;
  }
  
  #hr-css  hr{
    display:block;
    position: absolute;
    border-top:2px solid #000;
    z-index:-1;
    left: 0px;
    width:100%;
    margin:0;
  }
  #hr-css hr.right{
    left:auto;
    right:0px;
  }
  #hr-css  hr#thread1{
    top: 0.8em;
    -webkit-animation: thread2 10s infinite;
      -moz-animation:    thread2 10s infinite;
      -o-animation:      thread2 10s infinite;
      animation:         thread2 10s infinite;  
  }
  #hr-css hr#thread2{
    top:1.8em;
    /*right:15px;*/
    -webkit-animation: thread2 8s infinite;
      -moz-animation:    thread2 8s infinite;
      -o-animation:      thread2 8s infinite;
      animation:         thread2 8s infinite; 
  }
  #hr-css hr#thread3{
    top:2.8em;
  /*  right:15px; */
    border-color:#b7bf33;
    -webkit-animation: thread2 6s infinite;
      -moz-animation:    thread2 6s infinite;
      -o-animation:      thread2 6s infinite;
      animation:         thread2 6s infinite; 
  }
  #hr-css hr#thread4{
    top:3.8em;
    border-color:#b23836;
    -webkit-animation: thread2 12s infinite;
      -moz-animation:    thread2 12s infinite;
      -o-animation:      thread2 12s infinite;
      animation:         thread2 12s infinite;  
  }
  #hr-css hr#thread5{
    top:4.8em;
    border-color:#3953a4;
    -webkit-animation: thread2 16s infinite;
      -moz-animation:    thread2 16s infinite;
      -o-animation:      thread2 16s infinite;
      animation:         thread2 16s infinite;  
  }
  #hr-css hr#thread6{
    top:5.8em;
    -webkit-animation: thread2 6s infinite;
      -moz-animation:    thread2 6s infinite;
      -o-animation:      thread2 6s infinite;
      animation:         thread2 6s infinite; 
  }
  @media (min-width: 768px) {
    #hr-css{
      font-size:18px;
    }

    #hr-css  hr {
      
    border-width:3px;
    }
  
  
  }
  
  @media (min-width: 992px) {
    #hr-css  hr {
      
    }
  }
  
  @media (min-width: 1200px) {
    #hr-css  hr {
      
    }
  }
  @-webkit-keyframes thread2 {
      0%   { width: 100%; }
      50% { width: 100%; }
      80% { width: 0px;}
      100%{ width:100%;}
    }
    @-moz-keyframes thread2 {
      0%   { width: 100%; }
      50% { width: 100%; }
      80% { width: 0px;}
      100%{ width:100%;}
    }
    @-o-keyframes thread2 {
      0%   { width: 100%; }
      50% { width: 100%; }
      80% { width: 0px;}
      100%{ width:100%;}
    }
    @keyframes thread2 {
      0%   { width: 100%; }
      50% { width: 100%; }
      80% { width: 0px;}
      100%{ width:100%;}
  }

  #home {
    overflow: hidden;
  }
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .perspective-text {
    color: white;
    font-family: Arial;
    font-size: 58px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
  }
  
  .perspective-line {
    height: 50px;
    overflow: hidden;
    position: relative;
  }
  
  .perspective-line p {
    margin: 0;
    height: 50px;
    line-height: 50px;
    transition: all 0.5s ease-in-out;
  }
  
  .perspective-line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.667);
  }
  
  .perspective-line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.337);
  }
  
  .perspective-text:hover p {
    transform: translate(0, -50px);
  }
  
  .perspective-line:nth-child(1) {
    left: 29px;
  }
  
  .perspective-line:nth-child(2) {
    left: 58px;
    background: #f07e6e;
  }
  
  .perspective-line:nth-child(3) {
    left: 87px;
    background: #84cdfa;
  }
  
  .perspective-line:nth-child(4) {
    left: 116px;
    background: #5ad1cd;
  }
  
  .perspective-line:nth-child(5) {
    left: 145px;
  }
  